<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8"/>
    <title>NYC Film Calendar</title>
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    {{#each listings}}
      <p>{{this.title}}</p>
    {{/each}}
  </body>
</html>
